.select-board {
    display: flex;
    width: fit-content;
    font-family: Mooli;
    font-size: 1.2vw;
    padding-top: 1vw;

}


.submit-button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.4vw;
}

.submit-button:hover {
    background-color: goldenrod;
}

.select-board>form {
    display: grid;
    grid-template-columns: 20vw 10vw;
    column-gap: 10px;

}

.board-selector-input>option {
    border: none;
    font-size: 1.4vw;

}

select#board-selector {
    border: none;
    outline: none;
    font-family: Mooli;
    font-weight: bold;
    font-size: 1.6vw;

}
/* Styles for the select dropdown */
select#board-selector {
    border: none !important;
    outline: none !important;
    font-family: Mooli !important;
    font-weight: bold !important;
    font-size: 1.6vw !important;
}

/* Explicitly set the font size for the dropdown options */
select#board-selector option {
    font-size: 1.6vw !important; /* This can be adjusted as needed */
}



.display-success {
    display: flex;
}

.display-success>div{
    margin-left: 40px;
}

.close-success {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    position: relative;
    left: 120px;
    top: -40px;
    background-color: whitesmoke;
    width: 10px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;

}
