.select-board {
    display: grid;
    justify-content: center;
    margin-left: 3.6vw;
    width: 70%;
    font-family: Mooli;
    font-size: 1.8vw;
    padding-top: 1vw;
}


.submit-button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.8vw;
}

.submit-button:hover {
    background-color: goldenrod;
}

.select-board>form {
    display: flex;
    column-gap: 10px;

}

#board-selector-input {
    border: none;

}

select#board-selector {
    border: none;
    outline: none;
    font-family: Mooli;
    font-weight: bold;
    font-size: 1.8vw;

}



.display-success {
    display: flex;
}

.display-success>div{
    margin-left: 40px;
}

.close-success {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    position: relative;
    left: 120px;
    top: -40px;
    background-color: whitesmoke;
    width: 10px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;

}
