.create-board-input{
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 0px;
    font-size: 2.0vw;
}


.new-board-form{
    display: grid;
    margin: 4.0vw 3.0vw 3.0vw 3.0vw;
    row-gap: 1.0vw;
}

.board-name-field{
    display: flex;
    justify-content: center;
    font-size: 3.0vw;

}

.board-name-div{
    font-size: 2.0vw;
}

.create-board-button{
    margin-top: 10px;
    justify-self: flex-end;
    background-color:goldenrod;
    color: white;
    border:none;
    padding: 1.0vw 1.0vw;
    border-radius: 1.9vw;
    font-size: 1.8vw;
}

.private-board{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.keep-this{
    font-size: 1.8vw;
}

.create-board-private-input{
    height: 60%;
    width: 60%;
    margin-left: 1.0vw;

}

.only-you{
    font-size: 1.5vw;
}
