.create-board-input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
}


.new-board-form{
    display: grid;
    margin: 40px 30px 10px 30px;
    row-gap: 5px;
}

.board-name-field{
    display: flex;
    justify-content: center;
    font-size: 22px;

}

.board-name-div{
    font-size: 12px;
}

.create-board-button{
    margin-top: 10px;
    justify-self: flex-end;
    background-color:goldenrod;
    color: white;
    border:none;
    padding: 15px 15px;
    border-radius: 25px;
}
