/* #all-pins {
    width: 80%;
    margin: auto;
    column-count: 4;
    column-gap: 15px;
} */

.update-board-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.0vw;
    position:absolute;
    left: 60vw;
    top: 18vw;
}

.close-edit-topic{
    position: relative;
    left: 350px;
    bottom: 110px;
    padding: 20px 30px;
    background-color: black;
    color: white;
}

.bump-down{
    margin-top: 80px;
}





.submit-button-topic{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: auto;
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.update-board-button>button {
    border: none;
    background-color: transparent;

}

.select-edit-board-type-dropdown {
    padding-left: 10px;
    cursor: pointer;
}

@media only screen and (min-width: 200px){

}



.board-header {
    display: flex;
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.board-name-field {
    margin: 10px;
}



.board-input>input{
    font-size: 22px;
}

.submit-board-name{
    margin-left: 10px;
}


.edit-bn-lp{
    display: grid;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.edit-bn-lp>button{
    border: none;
    background-color: transparent;

}

.edit-bn-lp>button:hover{
    background-color: whitesmoke;
}

.edit-confirm-button {
    border-radius: 20px;
    font-size: 12px;
    padding: 10px 10px;
    height: 60%;
    align-self: center;
}

.each-option {
    display: flex;
    align-items: center;

}


.edit-board-delete-pin {
    background-color: rgba(0, 0, 0, .2);
    position: relative;
    display: flex;
    float: right;
    width: fit-content;
    top: 1.5vw;
    left: 1.3vw;
    padding: 1% 4%;
    border-radius: 100%;
}

.edit-board-delete-pin>button {
    border: none;
    background-color: transparent;
    padding: 1.0vw;
    font-size: 2.0vw;
}

.topic-delete-button {
    margin-bottom: 12px;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    right: 25px;

}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.board-name {
    font-size: 2.8vw;
    display: flex;
    width: 100%;
    margin-bottom: 3vw;
}


.header-main>button {
    background-color: transparent;
    border: none;
}


.select-edit-board-button>i {
    padding: 1.0vw;
    border-radius: 100%;
    color: black;
    background-color: #E4E4E4;
    font-size: 2.0vw    ;

}


.tagged {
    background-color: tan;
}

.untagged {
    background-color: whitesmoke;
}

.topic-option {
    padding: 10px 10px;
    border-radius: 20px;
    width: max-content;
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topics-container {
    display: flex;
    width: fit-content;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -20px;
}


.topics-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 30px;
    row-gap: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


.topic-div{
    padding: 20px 0px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    row-gap: 20px;
}

.topic-list{
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.edit-topic-title{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


.match{
    background-color: goldenrod;
    color: white;

}

.noMatch{
    background-color: whitesmoke;
}
