

.signup-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 10px;
}

.f-edit-board-modal{

    display: flex;
    margin: 0vw auto;
}

.f-change-size{
    height: 40%;
}

.f-edit-board-modal>form{
    display: flex;
    column-gap: 1vw;
}

.f-input-new-board-name>input{
    width: 90%;
    padding: 1vw 1vw;
    font-size: 1.8vw;
    margin-left: 10px;
}

.f-board-name {
    font-size: 2.0vw;
    display: flex;
    justify-content: center;
}

.f-input-new-board-name{
    margin-bottom: 10px;
}

.f-board-input {
    padding: 10px;
}

.f-edit-board-name-input{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 2%;

}
.f-edit-board-name-field{
    margin-top: 2%;
}


.signup-button:hover {
    background-color: goldenrod;
    cursor: pointer;
}

.f-show-error-create-name{
    display: flex;
    font-size: 1.3vw;

}
