.user-board-listing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    column-gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.board-name {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.back-arrow{
    display: flex;
    align-items: flex-start;
    position: fixed;
    left: 20px;
    top: 180px;
    font-size: 40px;

}

.profile-header {
    display: flex;
    height: fit-content;
    width: 80%;
    padding: 20px 20px 10px 20px;
    margin: 70px auto 0px auto;
}

.profile-div-left-buttons>div{
    font-size: 16px;
}

.user-stats {
    display: flex;
    font-size: 14px;
}

.user-stats>div{
    display: flex;
}

.center-dot{
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.profile-div-left {
    margin-left: auto;
    margin-right: auto;
}

.user-spot {
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
}

.fl-div {
    font-size: 60px;
    color: black;
}

.profile-div-left {
    display: grid;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.page-header-modals>button, .page-header-modals>a{
    border: none;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 16px;
}

.page-header-modals>a{
    text-decoration: none;
    color: black;
}

.page-header-modals>a{
    background-color: #f0f0f0;
    color: black;
}



.page-header-modals>button:hover, .page-header-modals>a:hover{
    background-color: goldenrod;
    color: white;
}


.profile-div-left-buttons>div{
    width: fit-content;
    margin: 5px auto;
}

.profile-div-left-buttons{
    display: grid;
    column-gap: 10px;
}


.view-type-button-div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 20px;
    align-items: center;
}
