.user-board-listing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    column-gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.board-name {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.profile-header {
    display: flex;
    height: 200px;
    width: 80%;
    padding: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.header-new-buttons {
    background-color: goldenrod;
    padding: 0px 10px;
    border: none;
}

.profile-div-left {
    margin-left: auto;
    margin-right: auto;
}

.user-spot {
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
}

.fl-div {
    font-size: 60px;
    color: black;
}

.profile-div-left {
    display: grid;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.profile-div-left-buttons>button{
    border: none;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 20px;
}

.profile-div-left-buttons>div{
    width: fit-content;
    margin: 20px auto;
}

.profile-div-left-buttons{
    column-gap: 10px;
}


.view-type-button-div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 20px;
    align-items: center;
}
