.hidden {
  display: none;
}

.main-nav-bar {
  display: grid;
  grid-template-columns: auto 60vw 5vw;
  column-gap: 2%;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0px;
  background-color: white;
  width: 90%;
  z-index: 1;
  height: 4.0vw;
  padding-left: 2%;
}

.create-dropdown-options>a{
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.6vw;
}


.nav-bar-left {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  margin: 5% auto;
}


.search-bar-input {
  border: none;
  font-weight: 300;
  font-size: 2.1vw;
  padding: 0px;
  width: 80%;
  height: 80%;
  outline: none;
}

.nav-bar-text-links {
  display: flex;
  align-items: center;
  column-gap: 4%;
  padding-left: 10px;
  font-size: 1.4vw;
  margin-right: 10px;
}

.nav-bar-text-links>button {
  font-size: 1.4vw;
}

.fa-chevron-down {
  font-size: 14px;
  position: relative;
  margin-left: 4px;
}

.harvest-logo{
  width: 10.0vw;
  display: flex;
}

.create-button>i{
  display: flex;
  align-items: center;
  font-size: 1.2vw;
}

.nav-bar-text-links>a {
  text-decoration: none;
  color: black;
  display: flex;
}

.no-user-nav-links{
  margin-top: 2.0vw;
}

.search-bar {
  border: 1px solid black;
  margin: 2% 0%;
  padding: 2% 4%;
  border-radius: 2.4vw;
  display: flex;
  column-gap: 1vw;
  align-items: center;
  height: 25%;
}

.fa-magnifying-glass{
  font-size: 2.1vw;
  margin-bottom: .2vw;
}

.nav-link {
  width: 15px;
  margin-left: 0px;
  padding-left: 0px;
  align-self: center;
}

.profile-button {
  background-color: none;
  border: none;
}

.user-button {
  background-color: white;
  border: none;
  margin-right: 9px;
  color: black;
  margin-top: 2.0vw;
}

.user-letter{
  background-color: #E9E9E9;
  width: 100%;
  padding: 30% 90%;
  border-radius: 100%;
  font-size: 3.0vw;
  position: relative;
  top: -1.0vw;

}

.greeting-banner{
  padding-top: 40px;
}

.user-button:hover {
  cursor: pointer;
}

.create-dropdown-options {
  display: grid;
}

.create-dropdown-options>button {
  background-color: transparent;
  border: none;
  font-size: 1.5vw;
}

.create-dropdown-options>button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.create-dropdown-options>a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.profile-dropdown button {
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 2vw;
  padding: 1vw 2vw;
  border: none;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 2.1vw;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-dropdown button:hover {
  background-color: goldenrod;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#profile-dropdown-profile-butt {
  padding: 12px 9px 12px 0px;

}

.profile-dropdown-li{
  margin-top: 10px;
  font-size: 2.0vw;
}


.view-profile-button:hover{
  transform: scale(1.1);
}

.profile-dropdown-li>a{
  text-decoration: none;
  color: black;
}

.fa-user-circle {
  font-size: 4.0vw;
}

.create-button {
  display: flex;
}


.profile-dropdown {
  position: absolute;
  background-color: white;
  position: absolute;
  padding: 1vw 1vw 1vw 2vw;
  top: 4.5vw;
  right: .1vw;
  z-index: 1;
  border-radius: 1vw;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.create-dropdown {
  background-color: white;
  position: absolute;
  padding-right: 20px;
  top: 4.0vw;
  left: 18.0vw;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}



.hide-that-button {
  background-color: white;
  border: none;
}

.hide-that-button:hover {
  cursor: pointer;
}

#no-search-results {
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
}

#no-search-link {
  font-size: 20px;
}

#line-profile-dropdown {
  border: 1px solid rgb(222, 222, 222)
}
