#all-user-pins {
    width: 90%;
    margin: auto;
    column-count: 6;
    column-gap: 1.0vw;
    margin-left: auto;
    margin-right: auto;
}


.new-pin-created{
    margin-top: 80px;
    font-size: 2.0vw;
    width: 30%;
    margin: 20px auto 30px auto;
    padding-left: 9vw;
}
