.pin-photo {
    display: inline-block;
    width: 100%;
    padding-left: 10px

}

.pin-photo img {
    display: block;
    width: 100%;
    border-radius: 1vw;
    margin-bottom: 1.0vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 14.0vw;
}
