.explore-boards {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0px;
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.explore-div{
    display: grid;
    margin-top: 80px;
    grid-auto-flow: row;
}


.topic-name{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 28px;
}

.each-board{
    height: 250px;
    padding: 0px 5px;
}

.explore-photo-div {
    height: 250px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
}


.explore-board-cover-photo {
    width: 250px;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    object-position: 100% 20%;
    overflow: hidden;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


.explore-board-name{
    position: relative;
    bottom: 65px;
    width: 246px;
    height: 35px;
    background-color: rgba(0, 0, 0, .6);
    padding: 2px;
    z-index: 1;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.explore-board-inner-div{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
