.enter-comment>input{
    border: none;
    background-color: #E9E9E9;
    font-size: 1.8vw;


}

.enter-comment{
    margin-top: .4vw;
}

.enter-comment>input:focus{
    outline: none;
}

.input:focus{
    outline: none;
}

.enter-comment{
    background-color: #E9E9E9;
    border-radius: 2.0vw;
    padding: 1vw 3vw;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.enter-comment>button{
    border: none;
    background-color: transparent;
}

.check-all-comments{
    background-color: transparent;
    border: none;
    font-size: 2.0vw;
}

.leave-a-comment-area{
    display: grid;
    grid-template-columns: 20% 80%;
}
