/*Redoing the create pin page */

.create-pin-page-div {
    display: grid;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 700px;
    max-width: 900px;
    height: fit-content;
}

.start-over>button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.start-over>button:hover{
    transform: scale(1.1);
}

.and-add-to-board{
    margin-top: 15px;
    margin-right: 10px;
}


.start-over{
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
}

.create-pin-page-sub {
    display: grid;
    grid-template-columns: auto 1fr;
}

.create-pin-aws-option {
    background-color: whitesmoke;
    border-radius: 20px;
    height: 360px;
    width: 260px;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.photo-prompt{
    font-size: 15px;
    margin: 10px;
    text-align: center;
}

.upload-photo-image{
    text-align: center;
    font-size: 30px;
}

.upload-photo-image>i{
    cursor: unset;
}

.need-photo-error {
    margin-left: 20px;
    margin-top: 5px;
}

.photo-uploaded {
    background-color: #C1E1C1;
    border-radius: 20px;
    height: 380px;
    width: 260px;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.photo-ready {
    align-self: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.create-pin-add-border {
    background-color: transparent;
    border-radius: 10px;
    border: 2px dashed lightgray;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr min-content;
}



.upload-photo-image {

    margin-left: auto;
    margin-right: auto;

}

.file-input {
    margin-left: 40px;

}


.file-input>input {
    font-size: 12px;
    margin-top: 40px;
    width: 180px;

}

.image-prompt {
    font-size: 14px;
    display: table;

    width: 250px;
    text-align: center;
}


.show-error-create-pin {
    border-top: 1px solid grey;
    margin-top: 5px;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.create-pin-page-header {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.create-pin-ellipsis {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 20px;
    margin-top: 10px;

}

.create-pin-page-left {
    margin: 0px 20px 20px 20px;
}


.create-pin-url-option {
    font-size: 22px;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.show-error-create{
    padding-top: 5px;
    width: 90%;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -30px;
    min-height: 20px;

}

.submit-new-pin{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 10px;
    position: relative;
    bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.create-pin-add-link>input{
    font-size: 20px;
}

.submit-new-pin-disabled{
    background-color: gray;
    color: white;
    padding: 10px 10px;
    border: none;
    position: relative;
    bottom: 10px;
    font-size: 16px;
    cursor: unset;
}

.submit-new-pin:hover{
    background-color: goldenrod;
}

.create-pin-url-option>input {

    border-radius: 20px;
    border: none;
    background-color: whitesmoke;
    color: black;
    width: 300px;
    margin-left: 5px;
    font-size: 16px;
    padding: 10px 10px;
    position: relative;
    top: 5px;
}

.create-pin-user-info {
    display: flex;
    column-gap: 20px;
    font-size: 16px;

}

.create-pin-user-spot {
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
    bottom: 2px;
}

.create-pin-page-right {
    display: grid;
    grid-template-rows: 1fr auto auto 1fr 1fr auto;
    row-gap: 20px;
}

.create-pin-add-description {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 110%;
    margin-left: 15px;
    word-wrap: normal;
    overflow: hidden;
}

.create-pin-add-description>textarea{
    font-size: 18px;
}

.required-fields{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.create-pin-page-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input[type=textarea] {
    word-wrap: break-word;
    word-break: break-all;
}

.create-pin-add-link,
.create-pin-add-description,
.create-pin-add-title {

    height: fit-content;
}




.create-pin-form-field>input {
    border: none;
}

.create-pin-add-title>input {
    font-size: 28px;
    font-weight: bold;
    width: 90%;
}

.show-error-create-description {
    border-top: 1px solid grey;
    padding-top: 5px;
    width: 90%;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}

.create-pin-page-right>input[type="text"] {
    border: none;
}

#create-pin-title {
    padding:5px;
    border-radius:3px;
    font-family:Arial;
    width:90%;
    font-size:28px;
    height:20px;
  }

.show-error-create-link {
    border-top: 1px solid grey;
    padding-top: 5px;
    width: 90%;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -30px;
    min-height: 20px;
}




input[type="text"]:focus {
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
}
