#create-pin-outermost-div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    height: 50vw;
    width: 70%;
    margin: 10% auto auto auto;
}

#create-pin-form {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
}

/* Styling for left column */
#create-pin-left-column {
    margin: 5% auto;
    width: 90%;
    font-size: 1.5vw;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 90%;
}

#create-pin-left-image-upload {
    background-color: #f5f5f5;
    padding: 2%;
    text-align: center;
    height: 100%;
}

#create-pin-left-clear-option{
    overflow: hidden;
    font-size: 1.8vw;
}

#create-pin-left-clear-submit>button{
    font-size: 1.4vw;
}


#create-pin-left-clear-select>i {
    font-size: 1.8vw;
}

.create-pin-right-button {
    font-size: 1.7vw;
    float: right;
}

#create-pin-right-form-errors {
    font-size: 1.3vw;
    height: 2.6vw;
}


#create-pin-left-upload-symbol>i {
    font-size: 2.5vw;
    margin: 15% auto;
}


#create-pin-left-size-reminder {
    margin-top: 10%;
    margin-bottom: 10%;
}

#create-pin-left-side-warning {
    margin: 3%;
}

#create-pin-left-border-only {
    margin: 5%;
    border: 2px dashed lightgrey;
    background-color: transparent;
    display: grid;
}

#create-pin-left-upload-field {
    width: 90%;
    margin: auto auto 10% auto;

}

#create-pin-left-upload-input {
    font-size: 1.4vw;
}

#create-pin-right-column {
    margin: 5% auto;
    width: 90%;
    display: grid;
    font-size: 1.8vw;
    grid-row-gap: 5%;
    height: 80%;
}

#create-pin-right-req-field-row {
    text-align: right
}



#create-pin-right-column>div {
    width: 100%;
}

input,
textarea {
    width: 100%;

}

.show-error-create-pin {
    font-size: 1.4vw;
}

.error {
    color: red;
}

#create-pin-right-title-field-row>input {
    font-size: 3.0vw;
}

#create-pin-right-description-field-row>textarea {
    font-size: 1.8vw;
}

#create-pin-right-link-field-row>input {
    font-size: 1.8vw;
}


#create-pin-right-user-info-row {
    display: flex;
    column-gap: 3%;
}

#create-pin-user-info-user-spot-left {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 4%;
    border-radius: 100%;

}

.no-error {
    float: right;
    font-size: 1.3vw;
}
