/*Redoing the create pin page */

.create-pin-page-div {

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    width: 80%;
    max-width: 1700px;
    height: 70rem;
}

@media only screen and (min-width: 1800px){
    .create-pin-page-div{
        margin: 3% 1% 1% 1%;

    }

    .create-pin-aws-option {
        width: 80%;
        height: 130%;
    }

    .create-pin-page-sub {
        display: grid;
        grid-template-columns: 40% 50%;
        border: 1px solid red;
        width: 80%;
        margin: auto;
        height: 80vh;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }


}

@media only screen and (max-width: 1799px){

    .create-pin-page-sub {
        display: grid;
        grid-template-columns: 40% 50%;
        border: 1px solid red;
        width: 80%;
        margin: 10% auto auto auto;
        height: 65vh;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

}
.start-over>button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.start-over>button:hover {
    transform: scale(1.1);
}

.and-add-to-board {
    margin-top: 15px;
    margin-right: 10px;
}


.start-over {
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
}

.create-pin-page-sub {
    display: grid;
    grid-template-columns: 50% 50%;

}

.create-pin-aws-option {
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.photo-prompt {
    font-size: 70%;
    margin: 10px;
    text-align: center;
}

.upload-photo-image {
    text-align: center;
    font-size: 30px;
}

.upload-photo-image>i {
    cursor: unset;
}

.need-photo-error {
    margin-left: 20px;
    margin-top: 5px;
}

.photo-uploaded {
    background-color: #C1E1C1;
    border-radius: 20px;
    height: 380px;
    width: 260px;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.photo-ready {
    align-self: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.create-pin-add-border {
    background-color: transparent;
    border-radius: 10px;
    border: 2px dashed lightgray;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr min-content;
}



.upload-photo-image {

    margin-left: auto;
    margin-right: auto;

}

.file-input {
    margin-left: 40px;

}


.file-input>input {
    font-size: 12px;
    margin-top: 40px;
    width: 180px;

}

.image-prompt {
    font-size: 70%;
    display: table;

    width: 100%;
    text-align: center;
}


.show-error-create-pin {
    border-top: 1px solid grey;
    margin-top: 5px;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
}


.create-pin-ellipsis {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 20px;
    margin-top: 10px;

}

.create-pin-page-left {
    margin: 0px 20px 20px 20px;
    height: 68%;
}


.create-pin-url-option {
    font-size: 22px;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.show-error-create {
    padding-top: 5px;
    width: 90%;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -30px;
    min-height: 20px;

}

.submit-new-pin {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 10px;
    position: relative;
    bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.create-pin-add-link>input {
    font-size: 20px;
}

.submit-new-pin-disabled {
    background-color: gray;
    color: white;
    padding: 10px 10px;
    border: none;
    position: relative;
    bottom: 10px;
    font-size: 16px;
    cursor: unset;
}

.submit-new-pin:hover {
    background-color: goldenrod;
}

.create-pin-url-option>input {

    border-radius: 20px;
    border: none;
    background-color: whitesmoke;
    color: black;
    width: 300px;
    margin-left: 5px;
    font-size: 16px;
    padding: 10px 10px;
    position: relative;
    top: 5px;
}

.create-pin-user-info {
    display: flex;
    column-gap: 20px;
    font-size: 16px;

}

.create-pin-user-spot {
    background-color: whitesmoke;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
    bottom: 2px;
    font-size: 2.4rem;
    margin-right: 15px;
    padding: 1% 2% 1% 2%;
}


.create-pin-user-spot>i{

}

.create-pin-page-right {
    display: grid;
    grid-template-rows: auto auto auto 1fr 1fr auto auto auto;
    row-gap: 20px;
}

.create-pin-add-description {
    display: grid;
    width: 90%;
    margin-left: 1.5%;
    word-wrap: normal;
    overflow: hidden;
}


.user-dets{
    font-size: 2.2rem;

}

.create-pin-add-description>textarea {
    font-size: 2.2rem;
}

.required-fields {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 2.3rem;
}

.create-pin-page-header {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: white;
}


input[type=textarea] {
    word-wrap: break-word;
    word-break: break-all;
}

.create-pin-add-link,

.create-pin-add-title {

    height: fit-content;
}




.create-pin-form-field>input {
    border: none;
    font-size: 2.1rem;
}

.create-pin-add-title>input {
    font-size: 28px;
    font-weight: bold;
    width: 90%;
}

.show-error-create-description {
    width: 90%;
    font-size: 2.1rem;
    display: flex;
    justify-content: flex-end;
}

.create-pin-page-right>input[type="text"] {
    border: none;
}

#create-pin-title {
    padding: 5px;
    border-radius: 3px;
    font-family: Arial;
    width: 90%;
    font-size: 3rem;
}

.show-error-create-link {
    border-top: 1px solid grey;
    padding-top: 5px;
    width: 90%;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    min-height: 20px;
}




input[type="text"]:focus {
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
}
