.user-board-listing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    column-gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.board-listing-outer{
    width: 100%;
    margin: 0vw auto;
}

.board-name {
    font-size: 3.0vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10%
}



.profile-div-left {
    margin-left: auto;
    margin-right: auto;
}

.edit-bn-lp>button{
    font-size: 1.8vw;
}

.user-spot {
    height: 18vw;
    width: 18vw;
    background-color: whitesmoke;
    border-radius: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.fl-div {
    font-size: 5.0vw;
}

.profile-div-left {
    display: grid;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.view-type-buttons{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.active-option {

    border-bottom: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 100%;
    font-size: 2.0vw;
}

.inactive-option {
    background-color: white;
    border: none;
    height: 100%;
    font-size: 2.0vw;


}

.board-button {
    padding: 5px;
    background-color: white;
}

.pins-button {

    padding: 5px;
    background-color: white;
}

.view-type-button-div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 20px;
    align-items: center;
}



#all-user-pins {
    width: 90%;
    margin: auto;
    column-count: 6;
    column-gap: 20px;
}


.user-pin-photo {
    display: inline-block;
    height: 100px;

    padding-bottom: 15px;

}

.user-pin-photo img {
    display: block;
    width: 100%;
    border-radius: 10px;
}


.new-user-no-boards{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
