#pin-detail-container {
    display: flex;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: fit-content;
    max-width: 900px;
    height: fit-content;
    max-height: 500px;

}
.comments{
    border-bottom: 1px solid grey;
}

.addpin-dropdown{
    position: relative;
    top: -30px;
}

#pin-detail-right {
    display: grid;
    grid-template-rows: 40px auto auto 40px 3fr 1px 1px;
    padding: 10px;
    width: inherit;
    row-gap: 10px;

}

.fa-solid {
    cursor: pointer
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 85px;
    column-gap: 60px;
}

.pin-detail-buttons {
    justify-self: flex-end;
}

.pin-detail-buttons>button {
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.pin-detail-buttons>button:hover {
    background-color: transparent;
    border: none;
    color: goldenrod;
    font-size: 20px;
}

.clear-right {
    margin-right: 50px;
    display: flex;
    font-size: 20px;
}

.entered-edit-form {
    width: 10px;
    height: 10px;
}

.background-light-grey{
    background-color: lightgray;
}

.photo-edit-button {
    position: absolute;
    left: 600px;
    background-color: rgba(255, 255, 255, .7);
    color: black;
    padding: 20px;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-top: 10px;
}

.editing-description {
    display: grid;
    width: 100%;
}

.edit-description-field {
    display: flex;
    align-self: center;
}

.edit-url-close {
    position: relative;
}

.pin-detail-input::placeholder {
    white-space: pre-line;
    position: relative;
    top: -7px;
}

.exit-edit-desc{
    margin-top: 28px;
    font-size: 20px;
}

.exit-edit-title{
    font-size: 20px;
    align-self: flex-start;

}

.pin-detail-input {
    margin-bottom: 10px;
    display: flex;
    white-space: pre-line;
    position: relative;
    top: -7px;
    margin-top: 10px;
    padding-top: 10px;
}

.photo-link-edit{
    color: black;
}

.photo-link-edit>a{
    color: black;
    text-decoration: none;
}

.domain-link-from-main{
    width: max-content;
background-color: black;
font-size: 12px;
    padding: 5px 5px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.goldenrod-on-hover:hover{
    background-color: goldenrod;
}

#pin-detail-left>label {
    position: fixed;
    top: 80px;
    left: 60px;
    font-size: 14px;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

#pin-detail-left>img {
    width: auto;
    height: auto;
    min-height: 400px;
    max-height: 500px;
    display: block;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pin-edit-delete-button {
    background-color: white;
    border: none;
    color: black;
}

.pin-details {
    width: 350px;
    display: flex;
    align-items: center;

}

a{
    text-decoration: none;
    color: black;
}

.edit-title-div{
    display: flex;
}
.pin-detail-title-sub{
    display: flex;
}

.pin-comment-header{
    font-size: 16px;
}

.pin-detail-comment-content{
    font-size: 14px;
}

.pin-detail-title-bottom {
    display: flex;
}

.title-edit-area{
    width: 91%
}

.pin-detail-title {
    display: grid;
}

.pin-detail-description {
    font-size: 16px;
    height: fit-content
}

.regular-edit-button {
    background-color: lightgray;
    border: none;
    padding: 15px 15px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.save-edits{
    width: 30%;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    justify-self: flex-end;
    margin-right: 20px;
    background-color: black;
    color: white;
    border: none;
}

.no-placeholder::placeholder {
    color: black;
}

.leave-a-comment-area {
    margin-bottom: 20px;
    display: flex;
}

.leave-a-comment-area>div{
    font-size: 24px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.sticky-comment{
    position: sticky;
    display: grid;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;

    height: 100%;

    }

.sticky-comment>div{
    margin: 0px 20px 20px 20px;
    font-size: 20px;
}

.enter-comment-input-field{
    position: relative;
    left: 140px;
}

.comment-div{
    margin: 5px 10px 0px 10px ;
    padding: 10px 20px 10px 20px;
    background-color: whitesmoke;
    max-width: 300px;
    text-wrap: wrap;
}

.comment-user-name{
    font-size: 12px;
    margin-left: 5px;
}



.comment-div>button{
    float: right;
    border: none;
    font-size: 14px;
}

.comment-content{
    display: flex;
    column-gap: 5px;
    font-size: 14px;
    align-items: center;
}

.make-bold{
    font-weight: bold;
}


.margin-left-10px{
    margin-left: 10px;
    max-width: 210px;
    height: auto;
    word-wrap:break-word;
}


.back-arrow{
    background-color: rgba(0,0,0,rgba(17, 17, 26, 0.1))
}

.add-comment{
    position: relative;

    bottom: 30px;
  }
