#pin-detail-container {
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 70%;
    height: auto;


}

.pin-click{
    height: min-content
}

.comments {
    border-bottom: 1px solid grey;
    width: 90%;
}

.addpin-dropdown {
    position: relative;
    top: -35px;
}

#pin-detail-right {
    display: grid;
    grid-template-rows: 8% 12% 20% 10% 20% 20%;

    padding: 2vw;
    row-gap: 2%;

}

/* #pin-detail-right>div, .pin-detail-title-bottom{
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
} */



.fa-solid {
    cursor: pointer
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 85px;
    column-gap: 60px;
}

.pin-detail-buttons {
    justify-self: flex-end;

}

.pin-detail-buttons>button {
    background-color: transparent;
    border: none;
    font-size: 1.8vw;

}


.pin-detail-buttons>button:hover {
    background-color: transparent;
    border: none;
    color: goldenrod;
    font-size: 1.8vw;
}

.clear-right {
    margin-right: 5.0vw;
    display: flex;
    font-size: 2.0vw;
}

.add-comment>div {
    font-size: 1.8vw;
}



.background-light-grey {
    background-color: lightgray;
}

.photo-edit-button {
    position: absolute;
    left: 600px;
    background-color: rgba(255, 255, 255, .7);
    color: black;
    padding: 20px;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-top: 10px;
}

.editing-description {
    display: grid;
    width: 100%;
}

.edit-description-field {
    display: flex;
    align-self: center;
}

.edit-url-close {
    position: relative;
}

.pin-detail-input::placeholder {
    white-space: pre-line;
    position: relative;
    top: -7px;
}

.exit-edit-desc {
    margin-top: 28px;
    font-size: 1.8vw;
}

.exit-edit-title {
    font-size: 1.8vw;
    align-self: flex-start;

}

.pin-detail-input {
    margin-bottom: 10px;
    display: flex;
    white-space: pre-line;
    position: relative;
    top: -7px;
    margin-top: 10px;
    padding-top: 10px;
    border: 1px solid grey;
}

.photo-link-edit {
    color: black;
}

.photo-link-edit>a {
    color: black;
    text-decoration: none;
}

.domain-link-from-main {
    width: max-content;
    background-color: black;
    font-size: 1.3vw;
    padding: 5px 5px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.goldenrod-on-hover:hover {
    background-color: goldenrod;
}

#pin-detail-left>label {
    position: fixed;
    top: 80px;
    left: 60px;
    font-size: 1.4vw;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

#pin-detail-left>img {
    width: 100%;
    height: auto;
    min-height: 50vw;
    display: flex;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.pin-edit-delete-button {
    background-color: white;
    border: none;
    color: black;
}

.pin-details {
    display: flex;
    align-items: center;
    column-gap: 3%;
    width: 90%;
}

.pin-details>a {
    font-size: 1.8vw;
}

a {
    text-decoration: none;
    color: black;
}

.edit-title-div {
    display: flex;
}

.pin-detail-title-sub {
    display: flex;
}

.pin-comment-header {
    font-size: 1.8vw;
}

.pin-detail-comment-content {
    font-size: 1.6vw;
}

.pin-detail-title-bottom {
    display: flex;
}



.pin-detail-title {
    display: grid;
}

.pin-detail-description {
    font-size: 1.4vw;
    padding-top: 10px;

}

.add-comment {
    position: relative;
    bottom: 17px;
    margin-top: 2vw;
}

.comments-div {
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: -10px;

}

.delete-button-area>button {
    font-size: 1.8vw;
}

.regular-edit-button {
    background-color: lightgray;
    border: none;
    padding: 15px 15px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 2.0vw;
}

.save-edits {
    width: 30%;
    height: 60%;
    border-radius: 2.0vw;
    justify-self: flex-end;
    margin-right: 3vw;
    background-color: black;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-placeholder::placeholder {
    color: black;
}

.leave-a-comment-area {
    margin-bottom: 20px;
    display: flex;
}

.leave-a-comment-area>div {
    font-size: 2.0vw;
    display: flex;

}

.move-down {
    height: 3.2vw;
    width: 3.2vw;
}

.sticky-comment {
    position: sticky;
    display: grid;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;

    height: 100%;
    width: 5.0vw;
}

.sticky-comment>div {
    margin: 0px 20px 20px 20px;
    font-size: 1.8vw;
}

.enter-comment-input-field {
    width: 100%;
}

.comment-div {
    margin: 5px 10px 0px 10px;
    padding: 10px 20px 10px 20px;
    background-color: whitesmoke;
    text-wrap: wrap;
    scrollbar-width: 1vw;

}

.pin-detail-comment-content{
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1vw;
}

.comment-user-name {
    font-size: 1.4vw;
    margin-left: 5px;
}

.user-letters{
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: .9vw 1vw;

}

.user-letters>i{
    font-size: 2.0vw;
}


.comment-div>button {
    float: right;
    border: none;
    font-size: 1.4vw;
}

.comment-content {
    display: flex;
    column-gap: 5px;
    font-size: 1.4vw;
    align-items: center;
}

.make-bold {
    font-weight: bold;
}


.margin-left-10px {
    margin-left: 10px;
    height: auto;
    word-wrap: break-word;
    max-width: 24vw;
}


.back-arrow {
    background-color: rgba(0, 0, 0, rgba(17, 17, 26, 0.1))
}
